// approve btn

.btn-approve {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    border:1px solid #339B1A;
    padding: 2px;
    background-color: #DAFFD1;
}
.btn-approve:hover {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    border:1px solid #339B1A;
    padding: 2px;
    background-color: #DAFFD1;
}
.btn-approve:focus {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    border:1px solid #339B1A;
    padding: 2px;
    background-color: #DAFFD1;
}

// -----------------------------------

// signoff btn

.btn-signoff{
    width: 35px;
    height: 35px;
    border:1px solid #2170F2;
    padding: 2px;
    border-radius: 8px;
}
.btn-signoff:hover{
    width: 35px;
    height: 35px;
    border:1px solid #2170F2;
    padding: 2px;
    border-radius: 8px;
}
.btn-signoff:focus{
    width: 35px;
    height: 35px;
    border:1px solid #2170F2;
    padding: 2px;
    border-radius: 8px;
}

// -----------------------------------

// revise btn


.btn-revise{
    width: 35px;
    height: 35px;
    border:1px solid #F28FFD;
    padding: 2px;
    border-radius: 8px;

}
.btn-revise:hover{
    width: 35px;
    height: 35px;
    border:1px solid #F28FFD;
    padding: 2px;
    border-radius: 8px;

}
.btn-revise:focus{
    width: 35px;
    height: 35px;
    border:1px solid #F28FFD;
    padding: 2px;
    border-radius: 8px;

}

// -----------------------------------

// pay btn

.btn-pay{
    width: 35px;
    height: 35px;
    padding: 2px;
    border:1px solid #36C7EA;
    border-radius: 8px;

}
.btn-pay:hover{
    width: 35px;
    height: 35px;
    padding: 2px;
    border:1px solid #36C7EA;
    border-radius: 8px;

}
.btn-pay:focus{
    width: 35px;
    height: 35px;
    padding: 2px;
    border:1px solid #36C7EA;
    border-radius: 8px;

}

//  -----------------------------------

// deny btn


.btn-deny{
    width: 35px;
    height: 35px;
    border:1px solid #FF8D8D;
    padding: 2px;
    border-radius: 8px;
}
.btn-deny:hover{
    width: 35px;
    height: 35px;
    border:1px solid #FF8D8D;
    padding: 2px;
    border-radius: 8px;
}
.btn-deny:focus{
    width: 35px;
    height: 35px;
    border:1px solid #FF8D8D;
    padding: 2px;
    border-radius: 8px;
}

//  -----------------------------------

