.approved {
    color: #8CDE78 !important;
    font-weight: $font-weight-bold;
}

.deny {
    color: #FF9D9D !important;
    font-weight: $font-weight-bold;
}

.pending {
    color: #DEDE39 !important;
    font-weight: $font-weight-bold;
}

.refund {
    color: #E5BD62 !important;
    font-weight: $font-weight-bold;
}

.revise {
    color: #EDB2F5 !important;
    font-weight: $font-weight-bold;
}

.send_to_other {
    color: #77A5F0 !important;
    font-weight: $font-weight-bold;
}

.sign_off_together {
    color: #77A5F0 !important;
    font-weight: $font-weight-bold;
}