.txt-name-category-edit-admin-category {
    font-size: 25px;
    color: $primary-color  ;
    font-weight: $font-weight-bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.txt-description-category-edit-admin-category {
    font-weight: $font-weight-bold;
    font-size: 20px;
    color: $primary-color-txt-header-input;
}